*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  /* font-family: */
  /* background-color: #1a1a1c; */
  /* color:#fff; */
}
i{
  margin:auto;
}
.converter-span{
  background: rgb(115, 202, 115);
}
